/* Ignore this file. You can put your CSS in the styles.css file */

@import url("https://ui.dev/font");

:root {
  --black: #292929;
  --white: #f9f4da;
  --red: #ed203d;
  --purple: #7b5ea7;
  --blue: #12b5e5;
  --yellow: #fcba28;
  --pink: #f38ba3;
  --gold: #ffd500;
  --aqua: #2febd2;
  --gray: #231f20;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  min-height: 100vh;
  background: var(--black);
  color: var(--white);
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

button {
  cursor: pointer;
  background: var(--yellow);
  color: var(--black);
  border-radius: 0.25rem;
  border: none;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
}

button:hover {
  background: var(--gold);
}

.container-outer {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.container {
  margin: 0 auto;
  width: 1100px;
  max-width: 100%;
  padding: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 5px);
}

.ReactQueryDevtoolsPanel {
  height: 50vh !important;
}

.ReactQueryDevtoolsPanel div:first-of-type {
  display: none;
}

.yellow-border {
  padding: 0;
  margin: 0;
  background: var(--yellow);
  height: 5px;
  width: 100%;
}

a {
  color: var(--yellow);
  font-weight: 600;
}

.li-label {
  list-style: none;
  display: flex;
  align-items: center;
}

.span-label {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  margin-right: 0.25rem;
  background-color: currentColor;
}

.ul-user-picker {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.error-message {
  height: 2rem;
  max-width: 30ch;
  position: absolute;
  right: 0px;
  top: 5px;
  bottom: 0px;
  display: flex;
  align-items: center;
  background: rgba(255, 100, 100, 0.5);
  border-left: red 2px solid;
  padding: 1rem;
}

.fetching-states-nav {
  height: 3rem;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.fetching-states-nav div {
  height: 100%;
}
.fetching-states-nav .img {
  /* height: 100%; */
  border-radius: 50%;
}
.fetching-states-main {
  display: flex;
  gap: 2rem;
}
.fetching-states-section {
  flex: 2;
}
.fetching-states-aside {
  flex: 1;
  background-color: #111;
  border-radius: 0.5rem;
  padding: 1rem;
  color: white;
}
.fetching-states-aside ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.fetching-states-label {
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 999px;
  padding: 0.1rem 0.3rem;
  border: solid 1px;
  text-align: center;
  white-space: nowrap;
}
.red {
  background-color: rgba(255, 0, 0, 0.2);
  color: red;
  border-color: red;
}
.red:hover,
.red.selected {
  background-color: rgba(255, 0, 0, 0.5);
}
.blue {
  background-color: rgba(0, 0, 255, 0.1);
  color: rgb(0, 120, 255);
  border-color: blue;
}
.blue:hover,
.blue.selected {
  background-color: rgba(0, 0, 255, 0.5);
}
.cyan {
  background-color: rgba(0, 255, 255, 0.2);
  color: cyan;
  border-color: cyan;
}
.cyan:hover,
.cyan.selected {
  background-color: rgba(0, 255, 255, 0.5);
}
.orange {
  background-color: rgba(255, 165, 0, 0.2);
  color: orange;
  border-color: orange;
}
.orange:hover,
.orange.selected {
  background-color: rgba(255, 165, 0, 0.5);
}
.lime {
  background-color: rgba(0, 255, 0, 0.2);
  color: lime;
  border-color: lime;
}
.lime:hover,
.lime.selected {
  background-color: rgba(0, 255, 0, 0.5);
}
.white {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-color: white;
}
.white:hover,
.white.selected {
  background-color: rgba(255, 255, 255, 0.5);
}
.rebeccapurple {
  background-color: rgba(102, 51, 153, 0.2);
  color: rebeccapurple;
  border-color: rebeccapurple;
}
.rebeccapurple:hover,
.rebeccapurple.selected {
  background-color: rgba(102, 51, 153, 0.5);
}
.yellow {
  background-color: rgba(255, 255, 0, 0.2);
  color: yellow;
  border-color: yellow;
}
.yellow:hover,
.yellow.selected {
  background-color: rgba(255, 255, 0, 0.5);
}